 {% extends "base.html" %} {% block conteudo %}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <h4 class="text-center">Cadastro de Aluno</h4>
                <hr>
                <form method="POST">
                    <div class="row">
                        <div class="col-7 form-group">
                            <label for="nomeAlunoInput" class="form-label">Nome</label>
                            <input type="text" class="form-control" id="nomeAlunoInput" name="nomeAluno" required>
                        </div>
                        <div class="col-5 form-group">
                            <label for="nomeAlunoInput" class="form-label">Gênero</label>
                            <select class="form-select" aria-label="generoAlunoSelect" id="generoAlunoSelect" name="generoAluno" required>
                            <option value="Masculino" selected>Masculino</option>
                            <option value="Feminino">Feminino</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-4 form-group">
                            <label for="loginAlunoInput" class="form-label">Login</label>
                            <input type="text" class="form-control" id="loginAlunoInput" name="loginAluno" required>
                        </div>
                        <div class="col-4 form-group">
                            <label for="emailAlunoInput" class="form-label">Email</label>
                            <input type="email" class="form-control" id="emailAlunoInput" name="emailAluno" required>
                        </div>
                        <div class="col-4 form-group">
                            <label for="senhaAlunoInput" class="form-label">Senha</label>
                            <input type="password" class="form-control" id="senhaAlunoInput" name="senhaAluno" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <a href="/alunos" class="btn btn-secondary">Voltar</a>
                            <button type="submit" class="btn btn-success float-end">Cadastrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}