{% extends "base.html" %} {% block conteudo %}
<style>
    .radio-label {
        display: inline-block;
        vertical-align: top;
        margin-right: 3%;
    }
    
    .radio-input {
        display: inline-block;
        vertical-align: top;
    }
</style>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <h4 class="text-center">{{tipo_cadastro}}</h4>
                <form method="POST">
                    <hr>
                    <div class="row">
                        <div class="col-5">
                        </div>
                        <div class="col-2">
                            <input class="form-check-input radio-input" type="radio" {%if regra.operador=="e" %}checked{%endif%} name="operador" id="radioOperadorE" value="e" />
                            <label class="form-check-label radio-label">Operador E</label>
                            <input class="form-check-input radio-input" type="radio" {%if regra.operador=="ou" %}checked{%endif%} name="operador" id="radioOperadorOR" value="ou" />
                            <label class="form-check-label radio-label">Operador OU</label>
                        </div>
                        <div class="col-5"></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-3 form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" {%if regra.imc_baixo%}checked{%endif%} name="imcBaixo" id="checkImcBaixo" value="True">
                                <label class="form-check-label" for="checkImcBaixo">IMC Baixo</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" {%if regra.imc_medio%}checked{%endif%} name="imcMedio" id="checkImcMedio" value="True">
                                <label class="form-check-label" for="checkImcMedio">IMC Medio</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" {%if regra.imc_alto%}checked{%endif%} name="imcAlto" id="checkImcAlto" value="True">
                                <label class="form-check-label" for="checkImcAlto">IMC Alto</label>
                            </div>
                        </div>
                        <div class="col-3 form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" {%if regra.percentual_gordura_baixo%}checked{%endif%} name="percentualGorduraBaixo" id="checkPercentualGorduraBaixo" value="True">
                                <label class="form-check-label" for="checkPercentualGorduraBaixo">Percentual de Gordura Baixo</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" {%if regra.percentual_gordura_medio%}checked{%endif%} name="percentualGorduraMedio" id="checkPercentualGorduraMedio" value="True">
                                <label class="form-check-label" for="checkPercentualGorduraMedio">Percentual de Gordura Medio</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" {%if regra.percentual_gordura_alto%}checked{%endif%} name="percentualGorduraAlto" id="checkPercentualGorduraAlto" value="True">
                                <label class="form-check-label" for="checkPercentualGorduraAlto">Percentual de Gordura Alto</label>
                            </div>
                        </div>
                        <div class="col-3 form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" {%if regra.percentual_massa_baixo%}checked{%endif%} name="percentualMassaBaixo" id="checkPercentualMassaBaixo" value="True">
                                <label class="form-check-label" for="checkPercentualMassaBaixo">Percentual de Massa Baixo</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" {%if regra.percentual_massa_medio%}checked{%endif%} name="percentualMassaMedio" id="checkPercentualMassaMedio" value="True">
                                <label class="form-check-label" for="checkPercentualMassaMedio">Percentual de Massa Medio</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" {%if regra.percentual_massa_alto%}checked{%endif%} name="percentualMassaAlto" id="checkPercentualMassaAlto" value="True">
                                <label class="form-check-label" for="checkPercentualMassaAlto">Percentual de Massa Alto</label>
                            </div>
                        </div>
                        <div class="col-3 form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="True" {%if regra.efumante%}checked{%endif%} name="efumante" id="checkEFumante">
                                <label class="form-check-label" for="checkEFumante">É Fumante</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="True" {%if regra.ehipertenso%}checked{%endif%} name="ehipertenso" id="checkEHipertenso">
                                <label class="form-check-label" for="checkEHipertenso">É Hipertenso</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="True" {%if regra.ediabetico%}checked{%endif%} name="ediabetico" id="checkEDiabetico">
                                <label class="form-check-label" for="checkEDiabetico">É Diabetico</label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-primary float-left" id="btnMontarRegra">Montar regra</button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <label for="textAreaRegra" class="form-label">Regra</label>
                            <textarea class="form-control" name="regra" id="textAreaRegra" rows="3" readonly="readonly">{{regra.regra_portugues}}</textarea>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-9">
                            <label for="textAreaTreino" class="form-label">Treino</label>
                            <textarea class="form-control" name="treino" id="textAreaTreino" rows="3" required>{{regra.treino}}</textarea>
                        </div>
                        <div class="col-3 form-group">
                            <label for="tempoTreinoInput" class="form-label">Quantidade de Tempo</label>
                            <input type="number" class="form-control" value="{{regra.tempo}}" id="tempoTreinoInput" name="tempo" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <a href="/regras" class="btn btn-secondary">Voltar</a>
                            <button type="submit" class="btn btn-success float-end">{{tipo_cadastro}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        let variavel_regra_selecionada = false;
        let operador_selecionado = null;
        let regra = null;

        $('#btnMontarRegra').click(function() {
            regra = '';
            $('#textAreaRegra').val(regra);

            if (!$('input[type="radio"][name="operador"]').is(':checked')) {
                alert('Favor selecione um operador!')
            } else {
                operador_selecionado = $('input[name="operador"]:checked').val();
                $('input[type="checkbox"]').each(function() {
                    if ($(this).is(':checked')) {
                        variavel_regra_selecionada = true;
                        if (regra == '') {
                            regra = 'Se: ' + $('label[for=' + this.id + ']').text();
                        } else {
                            regra += ' ' + operador_selecionado + ' ' + $('label[for=' + this.id + ']').text();
                        }
                    }
                });

                if (variavel_regra_selecionada == false) {
                    alert('Favor selecione pelo menos uma variavel da regra!');
                }
                $('#textAreaRegra').val(regra);
            }

        });

        $('form').submit(function(ev) {
            ev.preventDefault();
            if ($('#textAreaRegra').val() == '') {
                alert('Favor monte um regra para continuar!');
            } else {
                $(this).unbind('submit').submit();
            }

        });
    });
</script>
{% endblock %}