 {% extends "base.html" %} {% block conteudo %}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <h4 class="text-center">{{tipo_cadastro}}</h4>
                <form method="POST">
                    <div class="row">
                        <div class="col-7 form-group">
                            <label for="nomeProfessorInput" class="form-label">Nome</label>
                            <input type="text" class="form-control" id="nomeProfessorInput" name="nomeProfessor" value="{{professor[0].nome}}">
                        </div>
                        <div class="col-5 form-group">
                            <label for="nomeProfessorInput" class="form-label">Gênero</label>
                            <select class="form-select" aria-label="generoProfessoreselect" id="generoProfessoreselect" name="generoProfessor">
                            <option value="Masculino" {%if professor[0].genero == "Masculino" %}selected{%endif%}>Masculino</option>
                            <option value="Feminino" {%if professor[0].genero == "Feminino" %}selected{%endif%}>Feminino</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-4 form-group">
                            <label for="loginProfessorInput" class="form-label">Login</label>
                            <input type="text" class="form-control" id="loginProfessorInput" name="loginProfessor" value="{{professor[1].login}}" {%if tipo_cadastro=="Editar Professor" %}disabled{%endif%}>
                        </div>
                        <div class="col-4 form-group">
                            <label for="emailProfessorInput" class="form-label">Email</label>
                            <input type="email" class="form-control" id="emailProfessorInput" name="emailProfessor" value="{{professor[1].email}}">
                        </div>
                        <div class="col-4 form-group">
                            <label for="senhaProfessorInput" class="form-label">Senha</label>
                            <input type="password" class="form-control" id="senhaProfessorInput" name="senhaProfessor" {%if tipo_cadastro=="Editar Professor" %}disabled{%endif%}>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <a href="/professores" class="btn btn-secondary">Voltar</a>
                            <button type="submit" class="btn btn-success float-end">{{tipo_cadastro}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}